@{
    ViewData["Title"] = "Nova Moto";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Nova Moto</title>
</head>
<body>
    <h1>Cadastrar Nova Moto</h1>

    <div>
        <label for="ano">Ano:</label>
        <input type="number" id="ano" name="ano">
    </div>
    <div>
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo">
    </div>
    <div>
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa">
    </div>
    <button id="btnCadastrar">Cadastrar</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnCadastrar').click(async function () {

                if (!validate())
                    return;

                var model = {
                    Ano: parseInt($('#ano').val()),
                    Modelo: $('#modelo').val(),
                    Placa: $('#placa').val()
                }

                var data = JSON.stringify(model);

                $.ajax({
                    url: '@Url.Action("SaveNew", "Moto")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: data,
                    success: function (result) {
                        window.location.href = '@Url.Action("Index", "Moto")';
                    },
                    error: function (xhr, status, error) {
                        alert('Erro ao salvar a edição: ' + error);
                    }
                });
            });

            function validate() {
                var ano = $('#ano').val();
                var modelo = $('#modelo').val();
                var placa = $('#placa').val();

                if (!ano || isNaN(ano) || ano.length !== 4 || parseInt(ano) < 1900 || parseInt(ano) > new Date().getFullYear()) {
                    alert('Ano inválido. Por favor, insira um ano válido.');
                    return false;
                }

                if (!modelo) {
                    alert('Modelo não pode ser nulo ou vazio.');
                    return false;
                }

                if (!placa) {
                    alert('Placa não pode ser nula ou vazia.');
                    return false;
                }

                return true;
            }
        });
    </script>
</body>
</html>
