@using Desafio_BackEnd.WebAPP.Models.Moto
@model EditarMotoViewModel

@{
    ViewData["Title"] = "Editar Placa";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Placa da Moto</title>
</head>
<body>
    <h1>Editar Placa</h1>

    <div>
        <label for="inputOldPlaca">Alterar De:</label>
        <input type="text" id="inputOldPlaca" value="@Model.Placa" disabled>

        <label for="inputPlaca">Para:</label>
        <input type="text" id="inputPlaca" placeholder="Digite a nova placa...">
        <button id="btnSalvar">Salvar</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            const baseUrl = 'https://localhost:7150';

            $('#btnSalvar').click(async function () {
                var updatePlacaCommand = {
                    Placa: $('#inputPlaca').val()
                }

                try {
                    var endpoint = `/motos/@Model.Id/placa`;

                    await $.ajax({
                        url: baseUrl + endpoint,
                        method: 'PATCH',
                        contentType: 'application/json',
                        data: JSON.stringify(updatePlacaCommand),
                        headers: {
                            'Token': 'Dk3o5TK6c8DjpQHYB@UvrBi0BI&B&4UH'
                        }
                    });

                    alert('Placa alterada com sucesso!');
                    window.location.href = '@Url.Action("Index", "Moto")'
                }
                catch (error) {
                    var errorMessages = error.responseJSON.Notifications;

                    $.each(errorMessages, function (index, errorMsg) {
                        if (errorMsg.Message == 'Duplicada')
                            alert('Placa já cadastrada no sistema');
                        else
                            alert(errorMsg);
                    });
                }
            });
        });
    </script>
</body>
</html>
